body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: wheat;
}
.card-container {
  width: 280px;
  height: 672px;
  background-color: black;
  color: white;
  border-radius: 12px;
  border: 1px;
  border-color: white;
  padding: 20px;
}
.task-status {
  display: flex;
  justify-content: space-between;
}
.category {
  display: flex;
  align-items: center;
  width: 240px;
  height: 42px;
  gap: 10px;
  font-size: 18px;
  line-height: 22px;
}
.task-status p {
  color: #999999;
}
.circle {
  display: flex;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
}
.pop-up-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 370px;
  height: 376px;
  color: white;
  background-color: #1e1e1e;
  gap: 10px;
  border-radius: 16px;
}
.pop-up-content input {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400px;
  color: #999999;
  width: 290px;
  height: 44px;
  border: 1px;
  border-color: #999999;
  border-radius: 4px;
  padding: 12px;
  gap: 10px;
}
.select-status {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400px;
  color: #999999;
  background-color: white;
  width: 290px;
  height: 44px;
  border: 1px;
  border-color: #999999;
  border-radius: 4px;
  padding: 12px;
  gap: 10px;
}
.pop-up-content button {
  width: 290px;
  height: 44px;
  border: 1px;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  background-color: #00a300;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.select-status {
  display: flex;
  justify-content: center;
}
